<!-- Loop that will display the cards for areas -->

<% @funds.each do |fund| %>
  <div class="col-xs-12 col-md-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= fund.photo_url %>);">
      <%= link_to("", fund_path(fund.id), class:"card-link")  %>
       <div>
        <h2 class="text-center"><%= fund.best_name %> </h2>

      </div>
    </div>
  </div>
<% end %>
