<!-- Loop that will display the cards for areas -->

<% @funds.each do |fund| %>
  <div class="col-xs-12 col-md-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1509099652299-30938b0aeb63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
      <%= link_to("", fund_path(fund.id), class:"card-link")  %>
       <div>
        <h2 class="text-center"><%= fund.short_name %> </h2>

      </div>
    </div>
  </div>
<% end %>
