.brown {
  background-color: #736150;
}


.gold {
  background-color: #CFB07B;
}


.grey {
  background-color: #F1EEEC;
}


.white {
  background-color: #FFFFFF;
}

.black  {
  background-color: #1E2025;
}

.font-white {
  color: #FFFFFF;
}
