.log-form {
  background-color: rgba(250, 250, 250, 0.5);
  padding: 2em;
  border-radius: 0.5em;
}

.center-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
  position: relative;
}


.inline-absolute {
  position: absolute;
  top: 0px;
  right: 1em;
}

.header-form {
  margin-bottom: 2em;
  background-color: #F1EEEC;
  padding: 1em;
  border-radius: 0.2em;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}
